<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h3 class="callout__title">Ready To Get Started?</h3>
      <p class="callout__description">
        Choose the hosting provider that helps you start easy, build fast, and
        grow strong! It's risk-free with out 14-day money back guarantee.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--streched_padding"
      >get started
    </a>
  </div>
</div>
