<div class="collapsible collapsible__expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item 1</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="data/images/css_sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aspernatur
    minus perferendis, assumenda doloribus expedita?
  </div>
</div>
<!--  
  Adding the script element from JS.
  The script element is located at the end of the code because we dont want this
    JS code to hold the rendering of the page, so we want the page to quickly
    render, and then the browser is going to download and execute the JS file.
-->
<script src="/js/main.js"></script>
