<article class="grid grid--cols-2 features">
  <div>
    <span class="icon_container">
      <svg class="icon icon--primary">
        <use xlink:href="/data/images/css_sprite.svg#easy"></use>
      </svg>
    </span>
    <h3 class="features__header">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
      laboriosam quia aliquid quae exercitationem consectetur? Illum facere
      nihil eos sunt! Possimus temporibus autem voluptas in?
    </p>
    <a class="link_arrow" href="#">learn more</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="
        ./data/images/resize_img/easy@1x.webp 1x,
        ./data/images/resize_img/easy@2x.webp 2x
      "
    />
    <source
      type="image/png"
      srcset="
        ./data/images/resize_img/easy@1x.png 1x,
        ./data/images/resize_img/easy@2x.png 2x
      "
    />
    <img
      class="features__img"
      src="./data/images/easy.jpg"
      alt="Image of a graphs"
    />
  </picture>
</article>
