<!-- Since we have all elements in isolation we can move the components and place them as we want -->
<form action="">
  <div class="input_group">
    <input
      type="text"
      placeholder="Enter domain name here..."
      class="domain_input"
    />
    <button class="btn btn--accent">Search</button>
  </div>

  <!-- This can be another way of displaying elements -->
  <div class="input_group">
    <button class="btn btn--accent">Search</button>
    <input
      type="text"
      placeholder="Enter domain name here..."
      class="domain_input"
    />
  </div>
</form>
