<section class="block container domain">
  <header class="block__header">
    <h2>The best webhosting Starting at per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sapiente
      eius iure eum explicabo dicta minima, quia, ad cupiditate laborum at
      quibusdam numquam optio neque.
    </p>
  </header>

  <form action="">
    <div class="input_group">
      <input
        type="text"
        placeholder="Enter domain name here..."
        class="domain_input"
      />
      <button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="/data/images/css_sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
  </form>

  <ul class="list domain__prices">
    <li class="list__item"><a href="#">.com $9.26</a></li>
    <li class="list__item">
      <a class="badge badge--secondary" href="#">.sg $7.91</a>
    </li>
    <li class="list__item"><a href="#">.space $12.98</a></li>
    <li class="list__item"><a href="#">.info $14.15</a></li>
    <li class="list__item"><a href="#">.net $16.15</a></li>
    <li class="list__item"><a href="#">.xyz $10.15</a></li>
    <li class="list__item"><a href="#">More</a></li>
  </ul>
</section>
