<section class="block container">
  <header class="block__header">
    <h2>Host on The Cloud to Keep Growing</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, quos!</p>
  </header>
  <article class="grid grid--cols-2 features">
    <div class="feature__content">
      <span class="icon_container">
        <svg class="icon icon--primary">
          <use xlink:href="/data/images/css_sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="features__header">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
        laboriosam quia aliquid quae exercitationem consectetur? Illum facere
        nihil eos sunt! Possimus temporibus autem voluptas in?
      </p>
      <a class="link_arrow" href="#">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./data/images/resize_img/easy@1x.webp 1x,
          ./data/images/resize_img/easy@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          ./data/images/resize_img/easy@1x.png 1x,
          ./data/images/resize_img/easy@2x.png 2x
        "
      />
      <img
        class="features__img"
        src="./data/images/easy.jpg"
        alt="Image of a graphs"
      />
    </picture>
  </article>

  <article class="grid grid--cols-2 features">
    <div class="feature__content">
      <span class="icon_container">
        <svg class="icon icon--primary">
          <use xlink:href="/data/images/css_sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="features__header">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
        laboriosam quia aliquid quae exercitationem consectetur? Illum facere
        nihil eos sunt! Possimus temporibus autem voluptas in?
      </p>
      <a class="link_arrow" href="#">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./data/images/resize_img/fast@1x.webp 1x,
          ./data/images/resize_img/fast@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          ./data/images/resize_img/fast@1x.png 1x,
          ./data/images/resize_img/fast@2x.png 2x
        "
      />
      <img
        class="features__img"
        src="./data/images/fast.jpg"
        alt="Image of a graphs"
      />
    </picture>
  </article>

  <article class="grid grid--cols-2 features">
    <div class="feature__content">
      <span class="icon_container">
        <svg class="icon icon--primary">
          <use xlink:href="/data/images/css_sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="features__header">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat
        laboriosam quia aliquid quae exercitationem consectetur? Illum facere
        nihil eos sunt! Possimus temporibus autem voluptas in?
      </p>
      <a class="link_arrow" href="#">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          ./data/images/resize_img/wordpress@1x.webp 1x,
          ./data/images/resize_img/wordpress@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          ./data/images/resize_img/wordpress@1x.png 1x,
          ./data/images/resize_img/wordpress@2x.png 2x
        "
      />
      <img
        class="features__img"
        src="./data/images/wordpress.jpg"
        alt="Image of a graphs"
      />
    </picture>
  </article>
</section>
